[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = ['npm run build']

[variables]
NODE_ENV = 'production'
NEXT_TELEMETRY_DISABLED = '1'

[start]
cmd = 'npm start'
